$primary_color: #16243E;
$primary_color_hover: #263F6C;
$primary_color_active: #335390;
$brand_color: #D92530;
$brand_color_hover: #DE3F49;
$brand_color_active: #FF2330;

$white: #FFFFFF;
$light_gray: #F5F5F7;
$gray: #D4D6DA;
$dark_gray: #6F7888;
$white-80: rgba(255, 255, 255, 0.8);
$white-20: rgba(255, 255, 255, 0.2);

$colors:(
    1: $primary_color,
    2: $primary_color_hover,
    3: $primary_color_active,
    4: $brand_color,
    5: $brand_color_hover,
    6: $brand_color_active,
    7: $white,
    8: $light_gray,
    9: $gray,
    10: $dark_gray,
    11: $white-80,
    12: $white-20,
);

$mobile : 576px;
$tablet : 959px;
$desktop : 1200px;
$maxDesktop : 1700px;

//numero / font-size px / font-size-mobile px / font-weight/ font-weight mobile / line-height / line-height-mobile / letter-spacing
$titlesize:(
    1 250 80 200 275 normal normal normal,
    2 200 60 500 500 normal normal normal,
    3 200 60 200 275 normal normal normal,
    4 80 40 200 300 normal normal normal,
    5 60 24 300 500 normal normal normal,
    6 40 18 500 500 normal normal normal,
);

//numero / nome della classe / font-size px / font-size-mobile px / font-weight / font-weight mobile / line-height / line-height-mobile / letter-spacing
$textsize:(
    1 "xl"      48 40 200 200 normal normal normal,
    2 "l-m"     24 20 500 500 normal normal normal,
    3 "l"       24 20 300 200 normal normal normal,
    4 "s"       18 16 300 200 normal normal normal,
    5 "cta-l"   20 16 300 300 normal normal 0.8px,
    6 "cta-s"   16 14 500 500 1.1 normal 2.08px,
    7 "tag"     18 18 300 300 0.9 normal 3px,
    8 "foot"    12 12 300 300 normal normal normal,
);